.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0 10px 10px #ddd;
  border-radius: 10px;
  caret-color: transparent;
  height: 8vh;
  position: fixed;
  top: 0;
  width: 87vw;
  z-index: 2000;
  background-color: rgba(3, 3, 3, 0.7);
  backdrop-filter: blur(8.4px);
  -webkit-backdrop-filter: blur(8.4px);
}

#product {
  font-size: 40px;
  font-weight: bold;
  caret-color: transparent;
  user-select: none;
  cursor: pointer;
  color: white;
}

.Menu {
  display: flex;
  align-items: center;
}

.Menu div {
  margin-top: 20px;
  margin-left: 55px;
  font-weight: 500;
  padding: 5px;
}

/* styling for the search box and form */

#searchForm {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

#searchBox {
  height: 35px;
  width: 30vw;
  border: 0.3px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 0 10px #333;
  caret-color: black;
}

#searchBox:focus {
  outline: none;
}

#searchButton {
  height: 40px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 10px;
  user-select: none;
  caret-color: transparent;
}
#searchButton:hover {
  background-color: #999;
}

/* for mobiles */

@media only screen and (max-width: 600px) {
  .Navbar {
    box-shadow: 0 10px 10px #ddd;
    padding: 5px;
  }

  #product {
    display: none;
  }
  #searchForm {
    display: flex;
    justify-content: space-between;
    gap: 5px;
  }

  #searchBox {
    height: 35px;
    width: 33vw;
    border: 0.3px solid #ccc;
    border-radius: 20px;
  }

  #cart {
    font-size: 13px;
  }
}
