.container {
  color: black;
  background-color: white;
  font-size: 100px;
  padding: 46px 70px 40px 70px;
  overflow-x: hidden;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }
}
