#body {
  padding: 2vh 5.4vw 10px 5vw;
}

#description {
  box-shadow: 0 0 10px #333;
  border-radius: 10px;
  justify-content: center;
  margin-top: 10vh;
}

/* for title */
.prodTitle {
  font-size: 35px;
  padding: 15px;
  background-color: black;
  color: white;
  border-radius: 10px;
  caret-color: transparent;
}

/* for products description and image */
#prodContainer {
  display: flex;
  justify-content: space-around;
  gap: 10vw;
  margin-top: 20px;
  padding: 20px;
  position: relative;
}

.prodImage {
  padding: 20px;
  height: 45vh;
  width: 25vw;
  object-fit: contain;
}

.prodInfo {
  width: 70vw;
}

.prodDescription {
  font-size: 20px;
}

.price {
  position: absolute;
  bottom: 12vh;

  font-size: 35px;
  font-weight: bold;
}

/* for buttons */
.buttons {
  position: absolute;
  bottom: 5vh;
  display: flex;
  gap: 20px;
}

.buttons div {
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  transition: 0.3s;
  box-shadow: 0 10px 15px #888;
  caret-color: transparent;
}

.buttons div:hover {
  transform: scale(1.05);

  box-shadow: 0 10px 25px #888;
  cursor: pointer;
}

#recomTitle {
  font-size: 30px;
}

.Cards {
  padding-top: 3vw;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto; /*4 CARDS PER ROW */

  justify-content: space-between;
  grid-row-gap: 60px;
}

.Link {
  text-decoration: none;
  color: inherit;
}

@media only screen and (max-width: 600px) {
  #prodContainer {
    display: block;
    margin-top: 20px;
    padding: 20px;
    position: relative;
  }

  .prodTitle {
    font-size: 20px;
  }

  .prodImage {
    height: 20vh;
    width: 40vw;
  }

  .prodDescription {
    font-size: 15px;
    display: block;
  }

  .price {
    margin-top: 15vh;
    font-size: 17px;
    position: relative;
  }
  .buttons {
    bottom: 2vh;
  }

  .buttons div {
    font-size: 15px;
  }

  .Cards {
    width: 110%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: -25px;
    padding-left: 10px;
    justify-content: space-between;
    grid-row-gap: 50px;
  }
}
