#description {
  margin: 5vh 10vw 10px 5vw;

  box-shadow: 0 0 10px #333;
  border-radius: 10px;
}

/* for title */
.prodTitle {
  font-size: 35px;
  padding: 15px;
  background-color: black;
  color: white;
  border-radius: 10px;
  caret-color: transparent;
}

/* for products description and image */
#prodContainer {
  display: flex;
  justify-content: space-around;
  gap: 10vw;
  margin-top: 20px;
  padding: 20px;
  position: relative;
}

.prodImage {
  height: 40vh;
  width: 25vw;
}

.prodInfo {
  width: 70vw;
}

.category {
  font-size: 15px;
  box-shadow: 0 0 10px #888;
  width: 8vw;
  padding: 5px;
  border-radius: 20px;
}

.prodDescription {
  font-size: 20px;
}

.price {
  margin-top: 5vh;
  font-size: 35px;
  font-weight: bold;
}

/* for buttons */
.buttons {
  display: flex;
  gap: 20px;
  margin-top: 2vh;
}

.buttons div {
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  transition: 0.3s;
  box-shadow: 0 10px 15px #888;
  caret-color: transparent;
}

.buttons div:hover {
  transform: scale(1.05);

  box-shadow: 0 10px 25px #888;
  cursor: pointer;
}

#recomTitle {
  font-size: 30px;
}

.Cards {
  padding: 3vw;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; /*4 CARDS PER ROW */
  margin-left: 1vw;
  justify-content: space-between;
  grid-row-gap: 60px;
}

.Link {
  text-decoration: none;
  color: inherit;
}

@media only screen and (max-width: 600px) {
  #prodContainer {
    display: block;
    margin-top: 20px;
    padding: 20px;
    position: relative;
  }

  .prodTitle {
    font-size: 20px;
  }

  .prodImage {
    height: 40vh;
    width: 60vw;
  }

  .prodDescription {
    font-size: 15px;
  }
  .category {
    font-size: 10px;
    width: 30vw;
  }

  .price {
    font-size: 17px;
  }

  .buttons div {
    font-size: 15px;
  }

  .Cards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 10px;
    justify-content: space-between;
    grid-row-gap: 50px;
  }
}
